<div class="chatbot">

  <div class="chatbot-toggle" id="chatToggle">
      <i class="fa-solid fa-comments"></i>
  </div>

  <div class="chat-window" id="chatWindow">

      <div class="chat-header">
          <div>
              <strong>SkyNest Assistant</strong><br>
              <small>Online</small>
          </div>

          <button id="closeChat">
              <i class="fa-solid fa-xmark"></i>
          </button>
      </div>

      <div class="chat-body" id="chatBody">

          <div class="bot-msg">
              👋 Hi! Welcome to SkyNest.
          </div>

          <div class="bot-msg">
              Ask me anything.
          </div>

      </div>

      <div class="quick-replies">

          <button class="quick-btn">Find Beach</button>
          <button class="quick-btn">Mountain Stay</button>
          <button class="quick-btn">Book Room</button>

      </div>

      <div class="chat-input">

          <input
              id="chatInput"
              placeholder="Type message..."
          >

          <button id="sendBtn">
              <i class="fa-solid fa-paper-plane"></i>
          </button>

      </div>

  </div>

</div>