<!-- views/includes/footer.ejs -->

<div class="f-info">

  <div class="f-info-brand">
    Sky<em>Nest</em>
  </div>

  <div class="f-info-socials">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

  <div>
    <span style="font-size:0.66rem;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:rgba(250,247,243,0.35);">
      &copy; 2026 SkyNest Private Limited
    </span>
  </div>

  <div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/term">Terms</a>
    <a href="#">Sitemap</a>
  </div>

</div>
